### 시계열 문법 추가

#### 1. date_range
- 범위 내의 날짜나 시간을 인덱스로 생성해 주는 문법

In [1]:
import pandas as pd

In [3]:
pd.date_range('2021-01-13', '2021-04-25')
#시작일과 종료일 입력

DatetimeIndex(['2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22',
               ...
               '2021-04-16', '2021-04-17', '2021-04-18', '2021-04-19',
               '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23',
               '2021-04-24', '2021-04-25'],
              dtype='datetime64[ns]', length=103, freq='D')

In [4]:
pd.date_range('2021-01-13', periods=100)

DatetimeIndex(['2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01',
               '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
               '2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09',
               '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13',
               '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
               '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25',
               '2021-03-26', '2021-03-27', '2021-03-28', '2021-03-29',
               '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-02',
               '2021-04-03', '2021-04-04', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-10',
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range('2021-01-13', periods=30, freq='s')
#freq 인수로 일, 시간, 분 등 가능

DatetimeIndex(['2021-01-13 00:00:00', '2021-01-13 00:00:01',
               '2021-01-13 00:00:02', '2021-01-13 00:00:03',
               '2021-01-13 00:00:04', '2021-01-13 00:00:05',
               '2021-01-13 00:00:06', '2021-01-13 00:00:07',
               '2021-01-13 00:00:08', '2021-01-13 00:00:09',
               '2021-01-13 00:00:10', '2021-01-13 00:00:11',
               '2021-01-13 00:00:12', '2021-01-13 00:00:13',
               '2021-01-13 00:00:14', '2021-01-13 00:00:15',
               '2021-01-13 00:00:16', '2021-01-13 00:00:17',
               '2021-01-13 00:00:18', '2021-01-13 00:00:19',
               '2021-01-13 00:00:20', '2021-01-13 00:00:21',
               '2021-01-13 00:00:22', '2021-01-13 00:00:23',
               '2021-01-13 00:00:24', '2021-01-13 00:00:25',
               '2021-01-13 00:00:26', '2021-01-13 00:00:27',
               '2021-01-13 00:00:28', '2021-01-13 00:00:29'],
              dtype='datetime64[ns]', freq='S')

In [7]:
pd.date_range('2021-01-13', periods=30, freq='B')
#평일만

DatetimeIndex(['2021-01-13', '2021-01-14', '2021-01-15', '2021-01-18',
               '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-22',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-02-01', '2021-02-02', '2021-02-03',
               '2021-02-04', '2021-02-05', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-15',
               '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19',
               '2021-02-22', '2021-02-23'],
              dtype='datetime64[ns]', freq='B')

#### 2. resample

In [8]:
import numpy as np

In [9]:
df = pd.Series(np.random.rand(30), index = pd.date_range('2021-01-13',
                                                        periods=30))

In [10]:
df

2021-01-13    0.795711
2021-01-14    0.463661
2021-01-15    0.261103
2021-01-16    0.325329
2021-01-17    0.154834
2021-01-18    0.842327
2021-01-19    0.977852
2021-01-20    0.508424
2021-01-21    0.566708
2021-01-22    0.741772
2021-01-23    0.052152
2021-01-24    0.114302
2021-01-25    0.288485
2021-01-26    0.072231
2021-01-27    0.703929
2021-01-28    0.496182
2021-01-29    0.782238
2021-01-30    0.003508
2021-01-31    0.384616
2021-02-01    0.764531
2021-02-02    0.288186
2021-02-03    0.609484
2021-02-04    0.111419
2021-02-05    0.652115
2021-02-06    0.822353
2021-02-07    0.386186
2021-02-08    0.948615
2021-02-09    0.843993
2021-02-10    0.865983
2021-02-11    0.984981
Freq: D, dtype: float64

In [11]:
#일 단위의 df 인덱스를 주 단위로
#값은 평균으로 대표
df.resample('W').mean()

2021-01-17    0.400127
2021-01-24    0.543362
2021-01-31    0.390170
2021-02-07    0.519182
2021-02-14    0.910893
Freq: W-SUN, dtype: float64

In [12]:
df.resample('M').mean()

2021-01-31    0.449230
2021-02-28    0.661622
Freq: M, dtype: float64

In [13]:
df.resample('W').ohlc()
#좁혀진 구간의 시작, 최대, 최소, 종료값을 구함

                open      high       low     close
2021-01-17  0.795711  0.795711  0.154834  0.154834
2021-01-24  0.842327  0.977852  0.052152  0.114302
2021-01-31  0.288485  0.782238  0.003508  0.384616
2021-02-07  0.764531  0.822353  0.111419  0.386186
2021-02-14  0.948615  0.984981  0.843993  0.984981

In [18]:
df.resample('12H').ffill().head(20)
#간격을 넓히려면 앞, 뒤 값으로 새로운 인덱스 채워야함

2021-01-13 00:00:00    0.795711
2021-01-13 12:00:00    0.795711
2021-01-14 00:00:00    0.463661
2021-01-14 12:00:00    0.463661
2021-01-15 00:00:00    0.261103
2021-01-15 12:00:00    0.261103
2021-01-16 00:00:00    0.325329
2021-01-16 12:00:00    0.325329
2021-01-17 00:00:00    0.154834
2021-01-17 12:00:00    0.154834
2021-01-18 00:00:00    0.842327
2021-01-18 12:00:00    0.842327
2021-01-19 00:00:00    0.977852
2021-01-19 12:00:00    0.977852
2021-01-20 00:00:00    0.508424
2021-01-20 12:00:00    0.508424
2021-01-21 00:00:00    0.566708
2021-01-21 12:00:00    0.566708
2021-01-22 00:00:00    0.741772
2021-01-22 12:00:00    0.741772
Freq: 12H, dtype: float64

#### 3. dt 접근자

In [22]:
crime = pd.read_csv('crime.csv')

In [23]:
crime

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...,...
460906,460906,burglary-business-by-force,burglary,2017-09-13 05:48:00,-105.033840,39.762365,west-highland,1,0
460907,460907,weapon-unlawful-discharge-of,all-other-crimes,2017-09-12 20:37:00,-105.040313,39.721264,barnum-west,1,0
460908,460908,traf-habitual-offender,all-other-crimes,2017-09-12 16:32:00,-104.847024,39.779596,montbello,1,0
460909,460909,criminal-mischief-other,public-disorder,2017-09-12 13:04:00,-104.949183,39.756353,skyland,1,0
460910,460910,theft-other,larceny,2017-09-12 09:30:00,-104.985739,39.735045,capitol-hill,1,0

In [30]:
crime_date = pd.to_datetime(crime['REPORTED_DATE'])

In [32]:
crime_date.dt.year
#datetime 자료형의 접근자
#년, 월, 일 등의 정보를 추출할 수 있음

0         2014
1         2014
2         2014
3         2014
4         2014
          ...
460906    2017
460907    2017
460908    2017
460909    2017
460910    2017
Name: REPORTED_DATE, Length: 460911, dtype: int64

In [35]:
crime_date.dt.year.unique()

array([2014, 2013, 2012, 2016, 2015, 2017], dtype=int64)

In [36]:
crime_date.dt.strftime('%Y년 %m월 %d일')
#srtftime으로 원하는 형태의 문자열을 만들 수 있음

0         2014년 06월 29일
1         2014년 06월 29일
2         2014년 06월 29일
3         2014년 06월 29일
4         2014년 06월 29일
              ...
460906    2017년 09월 13일
460907    2017년 09월 12일
460908    2017년 09월 12일
460909    2017년 09월 12일
460910    2017년 09월 12일
Name: REPORTED_DATE, Length: 460911, dtype: object

#### 4. shift

In [37]:
crime

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...,...
460906,460906,burglary-business-by-force,burglary,2017-09-13 05:48:00,-105.033840,39.762365,west-highland,1,0
460907,460907,weapon-unlawful-discharge-of,all-other-crimes,2017-09-12 20:37:00,-105.040313,39.721264,barnum-west,1,0
460908,460908,traf-habitual-offender,all-other-crimes,2017-09-12 16:32:00,-104.847024,39.779596,montbello,1,0
460909,460909,criminal-mischief-other,public-disorder,2017-09-12 13:04:00,-104.949183,39.756353,skyland,1,0
460910,460910,theft-other,larceny,2017-09-12 09:30:00,-104.985739,39.735045,capitol-hill,1,0

In [38]:
df = pd.Series(np.random.rand(30), index = pd.date_range('2021-01-13',
                                                        periods=30))

In [39]:
df

2021-01-13    0.229800
2021-01-14    0.051891
2021-01-15    0.474479
2021-01-16    0.024073
2021-01-17    0.593338
2021-01-18    0.600169
2021-01-19    0.938341
2021-01-20    0.412119
2021-01-21    0.300987
2021-01-22    0.666769
2021-01-23    0.225625
2021-01-24    0.532805
2021-01-25    0.055800
2021-01-26    0.346173
2021-01-27    0.797670
2021-01-28    0.024502
2021-01-29    0.403626
2021-01-30    0.161412
2021-01-31    0.619076
2021-02-01    0.549326
2021-02-02    0.225992
2021-02-03    0.416650
2021-02-04    0.778355
2021-02-05    0.820258
2021-02-06    0.052082
2021-02-07    0.618179
2021-02-08    0.144717
2021-02-09    0.392545
2021-02-10    0.019927
2021-02-11    0.324022
Freq: D, dtype: float64

In [40]:
df.shift(1)

2021-01-13         NaN
2021-01-14    0.229800
2021-01-15    0.051891
2021-01-16    0.474479
2021-01-17    0.024073
2021-01-18    0.593338
2021-01-19    0.600169
2021-01-20    0.938341
2021-01-21    0.412119
2021-01-22    0.300987
2021-01-23    0.666769
2021-01-24    0.225625
2021-01-25    0.532805
2021-01-26    0.055800
2021-01-27    0.346173
2021-01-28    0.797670
2021-01-29    0.024502
2021-01-30    0.403626
2021-01-31    0.161412
2021-02-01    0.619076
2021-02-02    0.549326
2021-02-03    0.225992
2021-02-04    0.416650
2021-02-05    0.778355
2021-02-06    0.820258
2021-02-07    0.052082
2021-02-08    0.618179
2021-02-09    0.144717
2021-02-10    0.392545
2021-02-11    0.019927
Freq: D, dtype: float64

In [42]:
df.shift(1, freq='D')

2021-01-14    0.229800
2021-01-15    0.051891
2021-01-16    0.474479
2021-01-17    0.024073
2021-01-18    0.593338
2021-01-19    0.600169
2021-01-20    0.938341
2021-01-21    0.412119
2021-01-22    0.300987
2021-01-23    0.666769
2021-01-24    0.225625
2021-01-25    0.532805
2021-01-26    0.055800
2021-01-27    0.346173
2021-01-28    0.797670
2021-01-29    0.024502
2021-01-30    0.403626
2021-01-31    0.161412
2021-02-01    0.619076
2021-02-02    0.549326
2021-02-03    0.225992
2021-02-04    0.416650
2021-02-05    0.778355
2021-02-06    0.820258
2021-02-07    0.052082
2021-02-08    0.618179
2021-02-09    0.144717
2021-02-10    0.392545
2021-02-11    0.019927
2021-02-12    0.324022
Freq: D, dtype: float64

#### 5. to_period
- 원하는 시간간격으로 출력 가능

In [43]:
date = pd.date_range('2021-12-25', periods=5, freq='30D')

In [44]:
date

DatetimeIndex(['2021-12-25', '2022-01-24', '2022-02-23', '2022-03-25',
               '2022-04-24'],
              dtype='datetime64[ns]', freq='30D')

In [45]:
print(date.to_period('Y'))

PeriodIndex(['2021', '2022', '2022', '2022', '2022'], dtype='period[A-DEC]')

In [46]:
print(date.to_period('M'))

PeriodIndex(['2021-12', '2022-01', '2022-02', '2022-03', '2022-04'], dtype='period[M]')