### 시리즈 메서드

In [1]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')

In [2]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [3]:
manu = mpg['manufacturer']

In [4]:
hwy = mpg['hwy']

- append
- 시리즈 뒤에 새로운 값 합치기

In [9]:
hwy

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

In [10]:
manu

0            audi
1            audi
2            audi
3            audi
4            audi
          ...
229    volkswagen
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
Name: manufacturer, Length: 234, dtype: object

In [11]:
tmp = hwy.append(manu)

In [12]:
tmp

0              29
1              29
2              31
3              30
4              26
          ...
229    volkswagen
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
Length: 468, dtype: object

- describe()
- 통계량 요약

In [14]:
hwy.describe()

count    234.000000
mean      23.440171
std        5.954643
min       12.000000
25%       18.000000
50%       24.000000
75%       27.000000
max       44.000000
Name: hwy, dtype: float64

- drop_duplicates
- 중복값 제거

In [18]:
manu.duplicated()
#중복값 확인

0      False
1       True
2       True
3       True
4       True
       ...
229     True
230     True
231     True
232     True
233     True
Name: manufacturer, Length: 234, dtype: bool

In [19]:
manu.drop_duplicates()
#고유값만 반환됨

0            audi
18      chevrolet
37          dodge
74           ford
99          honda
108       hyundai
122          jeep
130    land rover
134       lincoln
137       mercury
141        nissan
154       pontiac
159        subaru
173        toyota
207    volkswagen
Name: manufacturer, dtype: object

- equals
- 두 데이터가 일치하는지 확인

In [25]:
manu.equals(manu)

True

In [26]:
manu.equals(hwy)

False

- get_values
- 시리즈 값 구하기 (value와 동일)

In [50]:
manu.values

array(['audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi',
       'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi',
       'audi', 'audi', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet',
       'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet',
       'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet',
       'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet',
       'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge',
       'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge',
       'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge',
       'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge',
       'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge',
       'dodge', 'dodge', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford',
       'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford',
       'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford',
       'ford', 'ford', 'ford', 'honda', 'honda', 'honda', 'honda',
       'honda', 'honda', 'honda', 'honda', 'honda', 'hyundai', 'hyundai',
       'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai',
       'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai',
       'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep',
       'land rover', 'land rover', 'land rover', 'land rover', 'lincoln',
       'lincoln', 'lincoln', 'mercury', 'mercury', 'mercury', 'mercury',
       'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan',
       'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan',
       'nissan', 'pontiac', 'pontiac', 'pontiac', 'pontiac', 'pontiac',
       'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru',
       'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru',
       'subaru', 'subaru', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota',
       'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota',
       'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen',
       'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen',
       'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen',
       'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen',
       'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen',
       'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen',
       'volkswagen', 'volkswagen', 'volkswagen'], dtype=object)

- isin
- 시리즈 안에 해당 값이 있는지 bool 형태로 출력

In [28]:
manu.isin(['audi'])

0       True
1       True
2       True
3       True
4       True
       ...
229    False
230    False
231    False
232    False
233    False
Name: manufacturer, Length: 234, dtype: bool

In [30]:
manu.isin(['audi', 'volkswagen'])
#리스트 형태로 입력, 여러개 입력 가능

0      True
1      True
2      True
3      True
4      True
       ...
229    True
230    True
231    True
232    True
233    True
Name: manufacturer, Length: 234, dtype: bool

- min
- 최솟값 출력

In [31]:
hwy.min()

12

In [32]:
manu.min()
#문자열 입력하면 인덱스로 계산

'audi'

- max
- 최댓값 출력

In [33]:
hwy.max()

44

In [34]:
manu.max()

'volkswagen'

- 기초통계관련

In [35]:
hwy.median()
#중앙값

24.0

In [36]:
hwy.std()
#표준편차

5.954643441166443

In [38]:
hwy.quantile(0.75)
#분위수

27.0

- replace
- 객체 내 값을 다른 값으로 변경
- data.replace(to_replace, value, inplace..)
- to_replace는 변경될 값, value는 변경할 값

In [39]:
manu.replace(to_replace='audi', value='aaa', inplace=False)
#to_replace에 해당하는 값을 가진 데이터는 다 변경됨

0             aaa
1             aaa
2             aaa
3             aaa
4             aaa
          ...
229    volkswagen
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
Name: manufacturer, Length: 234, dtype: object

In [41]:
manu.replace(to_replace=['audi', 'volkswagen'], value='aaa', inplace=False)
#리스트로 입력하면 여러값 동시에 변경 가능

0      aaa
1      aaa
2      aaa
3      aaa
4      aaa
      ...
229    aaa
230    aaa
231    aaa
232    aaa
233    aaa
Name: manufacturer, Length: 234, dtype: object

In [42]:
manu.replace(to_replace=['audi', 'volkswagen'], value=['aaa', 'bbb'], inplace=False)
#to_replace와 value가 같은 길이의 리스트면 각각 순서대로 변경

0      aaa
1      aaa
2      aaa
3      aaa
4      aaa
      ...
229    bbb
230    bbb
231    bbb
232    bbb
233    bbb
Name: manufacturer, Length: 234, dtype: object

- sort_values
- 값을 오름차순, 내림차순으로 정렬함

In [5]:
hwy

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

In [6]:
hwy.sort_values(ascending=False)

221    44
212    44
222    41
196    37
105    36
       ..
65     12
59     12
126    12
69     12
54     12
Name: hwy, Length: 234, dtype: int64

In [7]:
hwy.sort_values(ascending=True)

54     12
65     12
126    12
69     12
59     12
       ..
106    36
196    37
222    41
212    44
221    44
Name: hwy, Length: 234, dtype: int64

In [8]:
hwy.sort_index(ascending=False)

233    26
232    26
231    26
230    29
229    28
       ..
4      26
3      30
2      31
1      29
0      29
Name: hwy, Length: 234, dtype: int64

- to_frame()
- 시리즈를 데이터프레임으로 변환

In [54]:
manu.to_frame()

    manufacturer
0           audi
1           audi
2           audi
3           audi
4           audi
..           ...
229   volkswagen
230   volkswagen
231   volkswagen
232   volkswagen
233   volkswagen

[234 rows x 1 columns]

In [55]:
hwy.to_frame()

     hwy
0     29
1     29
2     31
3     30
4     26
..   ...
229   28
230   29
231   26
232   26
233   26

[234 rows x 1 columns]